<script lang="ts">
import Vue from 'vue';
import SlpNavigationDesktop from './navigation-desktop-minimized.vue';

export default Vue.extend({
  name: 'SlpNavigation',
  components: {
    SlpNavigationDesktop,
  },
});
</script>

<template>
  <nav class="navigation">
    <SlpNavigationDesktop />
  </nav>
</template>

<style lang="scss" scoped>
.navigation {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;
  background-color: $color-surface-50;
}
</style>
