<script>
export default {
  name: 'WhitePlayIcon',
  data() {
    return {
      color: {
        type: 'String',
        required: false,
        default: '#171321',
      },
    };
  },
};
</script>

<template>
  <!-- Color is provided by parent CSS  -->
  <svg
    width="9"
    height="10"
    viewBox="0 0 9 10"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.24654 4.30553C8.74155 4.62849 8.74155 5.3715 8.24654 5.69446L1.84539 9.87081C1.31314 10.218 0.617798 9.8246 0.617798 9.17625V0.823688C0.617798 0.175342 1.31314 -0.218025 1.84539 0.129224L8.24654 4.30553Z"
    />
  </svg>
</template>
