<script lang="ts">
import Vue from 'vue';
import { HorizontalScrollBar } from '../common/index.vue';

export default Vue.extend({
  components: {
    HorizontalScrollBar,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      progress: 0,
    };
  },
  mounted() {
    const { table } = this.$refs;
    table.addEventListener(
      'scroll',
      // eslint-disable-next-line func-names
      function (e) {
        const { clientWidth } = e.target;
        const { scrollLeft } = e.target;
        const { scrollWidth } = e.target;

        const scrollPercent = scrollLeft / (scrollWidth - clientWidth);
        const scrollPercentRounded = Math.round(scrollPercent * 100);
        this.progress = scrollPercentRounded;
      }.bind(this),
    );
  },
});
</script>

<template>
  <section>
    <SlpContainer>
      <div
        class="table-block"
        role="table"
        aria-label="Software Development Lifecycle Features"
        aria-describedby="table-header"
      >
        <SlpTypography id="table-header" tag="h2" variant="header2">
          {{ data.title }}
        </SlpTypography>
        <div ref="table" class="sdlc-table">
          <div
            v-for="stage in data.table"
            :key="stage.header"
            class="sdlc-column"
          >
            <div class="stage-container">
              <a
                :data-ga-name="stage.header"
                data-ga-location="body"
                class="sdlc-table__icon"
                :href="stage.url"
              >
                <SlpIcon
                  v-if="stage.icon"
                  class="slp-mb-8"
                  :name="stage.icon.name"
                  :variant="stage.icon.variant"
                  :alt="stage.icon.alt"
                  size="md"
                  slp-color="primary-200"
                />
              </a>
              <a :href="stage.url">
                <h3
                  class="column-header"
                  role="columnheader"
                  :data-ga-name="stage.header"
                  data-ga-location="body"
                >
                  {{ stage.header }}
                </h3>
              </a>
            </div>
            <div class="solutions-container">
              <a
                v-for="solution in stage.subgroups"
                :key="solution.title"
                :href="solution.url"
                :data-ga-name="solution.title"
                data-ga-location="body"
                class="slp-mb-16"
                >{{ solution.title }}</a
              >
            </div>
          </div>
        </div>
        <HorizontalScrollBar class="horizontal-scroll" :value="progress" />
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.table-block {
  padding-top: $spacing-96;
  padding-bottom: 130px;

  h2 {
    font-size: $text-heading-2;
    line-height: $line-height-heading-2;
    font-weight: $font-weight-bold;
    margin-top: $spacing-64;
    margin-bottom: $spacing-64;
    display: block;
    max-width: 600px;

    @media (max-width: 576px) {
      font-size: $text-heading-2-mobile;
      line-height: $line-height-heading-2-mobile;
    }
  }

  .horizontal-scroll {
    display: none;

    @media (max-width: 1023px) {
      display: block;
    }
  }

  .compare-link {
    margin: $spacing-32 auto $spacing-16 auto;
    font-weight: 600;
  }

  .learn-more-link a,
  .compare-link a {
    color: $color-text-300;
    text-decoration: underline;
    font-size: $text-heading-5;
  }
}

.sdlc-table {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; // hides scrollbar on Firefox
  -ms-overflow-style: none; // hides scrollbar on IE 10+

  &::-webkit-scrollbar {
    // hides scrollbar on browsers that use that use Webkit (Chrome, Safari, Opera, etc)
    width: 0;
    height: 0;
    display: none;
  }

  .sdlc-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .stage-container {
    flex-shrink: 0;
    width: 100%;
    padding: $spacing-24 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid $color-surface-400;
    border-bottom: 1px solid $color-surface-400;

    .column-header {
      font-weight: $font-weight-bold;
      color: $color-primary-200;
      font-size: $text-heading-5;
      line-height: $line-height-heading-5;

      @media (max-width: 576px) {
        font-size: $text-heading-3-mobile;
        line-height: $line-height-heading-3-mobile;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $text-body-2;

      img {
        height: 30px;
        margin-bottom: $spacing-8;
      }
    }
  }

  .solutions-container {
    justify-content: flex-start;
    padding: $spacing-24 $spacing-8 $spacing-8 0;
    text-align: left;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      color: $color-text-300;
      font-size: $text-body-2;
      line-height: $line-height-body-2;
      transition: color 0.2s ease-in;
      margin-bottom: $spacing-24;

      &:hover {
        color: $color-text-link-100;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .sdlc-table .sdlc-column {
    width: 100%;
    min-width: 120px;
  }
}
</style>
