<script>
import StepProgress from '@/components/step-progress-bar/step-progress-bar.vue';
import Results from '@/components/calculator/results.vue';
import { SlpTooltip } from '~/components/common/index.vue';
import Input from '@/components/calculator/input.vue';

export default {
  components: {
    StepProgress,
    Results,
    SlpTooltip,
    Input,
  },
  props: {
    tooltipData: {
      type: Object,
      required: false,
      default: null,
    },
    premiumFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    ultimateFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    spendTooltip: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      showTooltip: false,
      steps: ['Your people', 'Current spend', 'GitLab plan'],
      currentStep: 0,
      formData: {
        numberOfUsers: 100,
        numberOfMaintainers: 1,
        sourceCodeManagementSpend: 0,
        continuousIntegrationSpend: 0,
        continuousDeliverySpend: 0,
        registriesSpend: 0,
        agileProjectManagementSpend: 0,
        agilePortfolioManagementSpend: 0,
        applicationSecuritySpend: 0,
      },
    };
  },
  computed: {
    atLeastOneSpend() {
      // user must fill out at least one field within the annual spending portion of the form
      return (
        this.formData.sourceCodeManagementSpend > 0 ||
        this.formData.continuousIntegrationSpend > 0 ||
        this.formData.continuousDeliverySpend > 0 ||
        this.formData.registriesSpend > 0 ||
        this.formData.agileProjectManagementSpend > 0 ||
        this.formData.agilePortfolioManagementSpend > 0 ||
        this.formData.applicationSecuritySpend > 0
      );
    },
  },
  watch: {
    '$route.query.step': function (newValue) {
      const number = Number(newValue);
      /* eslint-disable-next-line no-restricted-globals */
      if (isNaN(number)) {
        this.currentStep = 0;
      } else {
        this.currentStep = number - 1;
      }
    },
  },
  mounted() {
    if (
      this.$route.query.step &&
      this.$route.query.step > 1 &&
      this.$route.query.step <= 2
    ) {
      this.currentStep = this.$route.query.step - 1;
    } else {
      this.currentStep = 0;
    }
  },
  methods: {
    nextStep() {
      this.currentStep += 1;
      this.$router.push({
        path: '',
        query: { step: this.currentStep + 1 },
      });
    },
    selectStep(step, isCompleted) {
      if (isCompleted) {
        this.currentStep = step;
        this.$router.push({
          path: '',
          query: { step: step + 1 },
        });
      }
    },
  },
};
</script>

<template>
  <article class="calculator">
    <StepProgress
      :steps="steps"
      :active="currentStep"
      @changeStep="selectStep"
    />
    <form class="form" aria-live="polite" @submit.prevent>
      <div v-show="currentStep == 0">
        <SlpTypography tag="h2" variant="heading5-bold">
          How many people are using and maintaining your tool chain?
        </SlpTypography>
        <div class="form-controls">
          <div class="form-control">
            <label for="numberOfUsers"
              >Number of users
              <SlpTooltip
                id="numberOfUsers"
                position="top"
                mode="click"
                :text="tooltipData.numberOfUsers"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="numberOfUsers"
              v-model.number="formData.numberOfUsers"
              min="1"
            />
          </div>
          <div class="form-control">
            <label for="numberOfMaintainers"
              >Number of DevOps tools maintainers
              <SlpTooltip
                id="numberOfMaintainers"
                position="top"
                mode="click"
                :text="tooltipData.numberOfMaintainers"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="numberOfMaintainers"
              v-model.number="formData.numberOfMaintainers"
              min="0"
            />
          </div>
        </div>
        <button
          data-ga-name="continue to next step"
          data-ga-location="roi calculator landing"
          class="slp-btn"
          type="button"
          variant="primary"
          :disabled="
            formData.numberOfMaintainers < 0 || formData.numberOfUsers < 1
          "
          @click="nextStep"
        >
          Continue to next step
          <SlpIcon variant="product" name="arrow-right" />
        </button>
      </div>
      <div v-show="currentStep == 1">
        <SlpTypography tag="h2" variant="heading5-bold">
          Approximately, what is your spend per year (in USD) on these
          capabilities?
        </SlpTypography>
        <div class="form-controls">
          <div class="form-control">
            <label for="sourceCodeManagement"
              >Source Code Management
              <SlpTooltip
                id="sourceCodeManagement"
                position="top"
                mode="click"
                :text="tooltipData.sourceCodeManagement"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="sourceCodeManagement"
              v-model.number="formData.sourceCodeManagementSpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="agileProjectManagement"
              >Agile Project Management<SlpTooltip
                id="agileProjectManagement"
                position="top"
                mode="click"
                :text="tooltipData.agileProjectManagement"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="agileProjectManagement"
              v-model.number="formData.agileProjectManagementSpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="continuousIntegration"
              >Continuous Integration<SlpTooltip
                id="continuousIntegration"
                position="top"
                mode="click"
                :text="tooltipData.continuousIntegration"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="continuousIntegration"
              v-model.number="formData.continuousIntegrationSpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="agilePortfolioManagement"
              >Agile Portfolio management<SlpTooltip
                id="agilePortfolioManagement"
                position="top"
                mode="click"
                :text="tooltipData.agilePortfolioManagement"
                class="tooltip"
                min="0"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="agilePortfolioManagementSpend"
              v-model.number="formData.agilePortfolioManagementSpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="continuousDelivery"
              >Continuous Delivery<SlpTooltip
                id="continuousDelivery"
                position="top"
                mode="click"
                :text="tooltipData.continuousDelivery"
                class="tooltip"
                min="0"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="continuousDeliverySpend"
              v-model.number="formData.continuousDeliverySpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="applicationSecurity"
              >Application Security<SlpTooltip
                id="applicationSecurity"
                position="top"
                mode="click"
                :text="tooltipData.applicationSecurity"
                class="tooltip"
                min="0"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="applicationSecurity"
              v-model.number="formData.applicationSecuritySpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
          <div class="form-control">
            <label for="registries"
              >Registries<SlpTooltip
                id="registries"
                position="top"
                mode="click"
                :text="tooltipData.registries"
                class="tooltip"
              >
                <SlpIcon variant="product" name="information-o" /></SlpTooltip
            ></label>
            <Input
              id="registries"
              v-model.number="formData.registriesSpend"
              :dollar-sign="true"
              min="0"
            />
          </div>
        </div>
        <button
          data-ga-name="see your savings"
          data-ga-location="roi calculator spending"
          class="slp-btn"
          type="button"
          variant="primary"
          :disabled="!atLeastOneSpend"
          @click="nextStep"
        >
          See your savings
          <SlpIcon variant="product" name="arrow-right" />
        </button>
      </div>
      <Results
        v-show="currentStep == 2"
        :form-data="formData"
        :premium-features="premiumFeatures"
        :ultimate-features="ultimateFeatures"
        :spend-tooltip="spendTooltip"
      />
    </form>
  </article>
</template>

<style lang="scss" scoped>
.calculator {
  margin-top: $spacing-8;
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
}

.form {
  text-align: center;
  margin-top: $spacing-24;
  background: $color-surface-50;
  border: 1px solid $color-surface-200;
  box-shadow: $shadow-surface-primary-1;
  padding: 40px $spacing-48;

  @media (max-width: $breakpoint-md) {
    padding: 40px $spacing-16;
  }

  .slp-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 11px $spacing-16;
    border-radius: $border-radius-4;
    font-weight: $font-weight-bold;
    font-size: $text-button-1;
    line-height: $line-height-button-1;
    transition: 200ms ease-in-out background-color;
    background-color: $color-primary-200;
    color: $color-text-50;
    border: 1px solid $color-primary-200;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: center;
    }

    div {
      margin-left: $spacing-8;
    }

    &:hover {
      background-color: $color-primary-300;
      color: $color-text-300;
      border: 1px solid $color-primary-200;

      svg {
        fill: $color-text-300;
      }
    }

    &:disabled {
      background-color: $color-primary-100;
      border: 1px solid $color-primary-100;
      color: $color-text-200;

      svg {
        fill: $color-text-200;
      }

      &:hover {
        background-color: $color-primary-100;
        cursor: default;
      }
    }
  }

  h2 {
    margin-bottom: $spacing-32;

    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-3-mobile;
      line-height: $line-height-heading-3-mobile;
    }
  }

  .form-controls {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .form-control {
    flex: 0 0 calc(50% - 20px);
    text-align: left;
    margin-bottom: $spacing-16;

    @media (max-width: $breakpoint-md) {
      flex: 1 0 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    label {
      font-size: $font-size-default;
      margin-bottom: $spacing-8;
      display: inline-block;
      color: $color-text-300;
    }

    input {
      display: block;
      border: 1px solid $color-surface-500;
      padding: 10px $spacing-16;
      border-radius: 8px;
      font-size: $font-size-default;
      width: 100%;
    }

    .tooltip {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      margin-left: $spacing-8;
    }
  }
}
</style>
